/* Assignment 2 */

/* Global Reset */
* {
	margin: 0;
	padding: 0;
}
h2 {
	padding-top: 5%;
	text-align: center;
	font-size: 3em;
	text-decoration: underline;

}
/* Index page CSS */

header {
	width: 100%;
	background-color: #211720;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 5%;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style: none;
	font-size: 1.1em;
}

nav ul li a {
	font-weight: bold;
	padding: 0 30px;
	text-decoration: none;
	color: #FDFDFD;
}

#cart img {
	width: 20%;
	float: right;
}

#logo img {
	float: left;
	width: 12%;
	/* padding-bottom: 5%; */
}

.welcome h1 {
	padding-top: 3.5%;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	color: black;
	text-decoration: underline;
}

.welcome p {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	color: black;
}

.about {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 30px 0;
	/* background-image: url("wall2.jpg"); */
	background-size: cover;
	border-radius: 30px;
	box-sizing: border-box;
	margin-top: 10px;
}

.about h2 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 60px;
	color: black;
	text-transform: uppercase;
	padding-top: 20px;
}

.about p {
	font-size: 28px;
	color: black;
	font-weight: bold;
	line-height: 22px;
	padding: 10px;
}

.menue {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 50px 0;
	background-color: #fdfdfd;
}

.menue h2 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 60px;
	color: black;
	text-transform: uppercase;
	padding-top: 20px;
}

.menue h4 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 20px;
	font-size: 20px;
	color: black;
}

#row1 dl, #row2 dl, #row3 dl {
	display: flex;
	margin-top: 1.5%;
	margin-right: 10%;
	margin-left: 10%;
	justify-content: space-between;
	padding: 0 30px;
}

#row1 dl dt, #row2 dl dt, #row3 dl dt {
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 3%;
	text-align: left;
}

#row1 dl dd, #row2 dl dd, #row3 dl dd {
	font-size: 24px;
	font-weight: bold;
}

.btn {
	display: block;
	margin-top: 16px;
	margin-left: 12px;
	border-radius: 8px;
	padding: 10px 30px;
	font-size: 18px;
	color: 253, 253, 253;
	background-color: #AF9867;
	cursor: pointer;
}

.btn:hover {
	color: black;
}

.footer {
	width: 100%;
	background-color: #211720;
}

.footer h4 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #FDFDFD;
	padding-top: 30px;
}

.footer p {
	text-align: center;
	font-size: 16px;
	padding: 40px;
	color: #FDFDFD;
}

/* Registration Page CSS */

.form {
	padding: 20px;
	z-index: 1100;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	margin: 0;
	align-items: flex-start;
}

#regform {
	flex: 1 1 40rem;
	border-radius: 100px;
	padding: 30px 20px;
	background-color: #FDFDFD;
}

.form h2 {
	padding-bottom: 20px;
	padding-right: 10px;
	text-align: center;
}

.form .box {
	width: 50%;
	margin: 10px 0;
	border-radius: 20px;
	padding: 10px 12px;
	font-size: 16px;
	background-color: #FDFDFD;
	color: #211720;
}

.form .btn {
	background-color: red;
}

label {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

/* Reordered to avoid no-descending-specificity */
.radio {
	margin-left: 30px;
}

.form .radio {
	margin-right: 16px;
	padding-left: 20px;
}

nav a:hover,
nav a.active {
	color: #211720;
}

/* Features page CSS */

#wall3 {
	background-color: #FDFDFD;
	min-height: 1000px;
	background-size: cover;
}

#wall3 h1 {
	margin-left: 1em;
	padding: 10px 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#wall3 p {
	padding: 20px 30px 30px 20px;
	font-size: 20px;
}

section.menu {
	padding-bottom: 5%;
}


.menu-subheader {
	margin-left: 12%;
	padding-top: 2%;
	font-size: 2em;
}

#row1, #row2, #row3 {
	padding-bottom: 3%;
}
